<span class="reports__title">{{title}}</span>
<table class="reports__table">
    <thead>
    <tr>
        <td>Date</td>
        <td>Urgent</td>
        <td>High</td>
        <td>Medium</td>
        <td>Low</td>
        <td>Failed</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{date}}</td>
        <td>{{urgent}}</td>
        <td>{{high}}</td>
        <td>{{medium}}</td>
        <td>{{low}}</td>
        <td>{{failed}}</td>
    </tr>
    </tbody>
</table>
